*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    width: 1920px;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 40px;
}
.logo{
    width: 170px;
    height: 37px;
}
.logo h1{
    background-image: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 34px;
}
.head2{
    width: 470px;
    height: 40px;
}
nav ul{
    font-size: 18px;
    width: 470px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: #A3A3A3;
}
.hometochka{
    line-height: 1;
    text-decoration: none;
    color: #A3A3A3;
    position: relative;
    top: 10px;
    background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hometochka a{
    display: flex;
    flex-direction: center;
    justify-content: center;
}
.login_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    font-size: 18px;
}
.login{
    background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
    border: none;
    border-radius: 100px;
    width: 163px;
    height: 40px;
    color: #FFFFFF;
}
.bagbut{
    background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
    border: none;
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

body{
    background: linear-gradient(245.71deg, #1E0C00 4.96%, #1F0700 33.7%, #170A00 68.41%, #1E0D00 96.42%);

}
.pizzashop{
    width: 1920px;
    height: 950px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text1{
    width: 539px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text1 h1{
    font-size: 69px;
    width: 539px;
    height: 152px;
    color: #FFFFFF;
}
.text1 p{
    font-size: 20px;
    width: 411px;
    height: 60px;
    color: #A3A3A3;
}
.molniya{
    width: 45px;
    height: 65px;
    position: relative;
    top: 13px;
}
span{ 
    color: white;
}
.videopic{
    width: 272px;
    height: 194px;
    border-radius: 23px;
    box-shadow: 0px 4px 29px 0px #FF4E151A;
}
.video1 p{
    color: #A3A3A3;
    font-size: 20px;
}
.video1 .play{
    border-radius: 50%;
    border: none;
    background-color: #1D0800;
    position: relative;
    bottom: 82px;
    right: 174px;
    border: 3px solid;
    border-image-source: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    width: 81px;
    height: 81px;
    border-width: 3px;
    box-shadow: 0px 4.63px 33.56px 0px #000000;
    box-shadow: 0px 4px 24px 0px #FF3D00AB;
}
.leftbut{
    background: linear-gradient(261.48deg, #FE9C1C -17.13%, #FF5E2A 86.76%);
    border-radius: 100px;
    width: 230px;
    height: 62px;
    color: #FFFFFF;
    z-index: 2;
    border: none;
    cursor: pointer;
    font-size: 23px;
}
.rightbut{
    width: 230px;
    height: 62px;
    border-radius: 100px;
    background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    position: relative;
    right: 45px;
    border: none;
    cursor: pointer;
    font-size: 23px;

}
.pic_container{
    width: 456px;
    height: 684px;
}
.pic1{
    width: 456px;
    height: 684px;
    box-shadow: 0px 4px 33px 0px #FF4E154A;
    border-radius: 46px;
}
.fri{
    width: 213px;
    height: 226px;
    position: absolute;
    top: 710px;
    right: 550px;
}
.pizpic{
    width: 252px;
    height: 252px;
    position: absolute;
    right: 100px;
    top: 60px;
}
.ctrelka1{
    position: relative;
    top: 140px;
}
.knopi{
    position: relative;
    bottom: 80px;
}